/* General */
css-text.monospace::part(letter) {
  font-family: monospace;
  font-style: normal;
  height: 1em;
  --line-width: 0.13em;
}
css-text.monospace::part(letter)::after,
css-text.monospace::part(letter)::before {
  top: 40%;
  left: 9%;
  height: 20%;
  width: 80%;
  margin-top: 0.1em;
  border-radius: calc(var(--line-width) / 2);
  border-style: solid;
  transform-origin: center center;
}

/* Alphabet */
css-text.monospace::part(A)::after {
  top: 17%;
  left: 35%;
  height: 67%;
  width: 5%;
  border-width: 0;
  border-left-width: calc(1.1 * var(--line-width));
  border-radius: 0%;
  transform-origin: top center;
  transform: skew(-16deg, 0deg);
}
css-text.monospace::part(A)::before {
  top: 17%;
  left: 39%;
  height: 67%;
  width: 5%;
  border-width: 0;
  border-left-width: calc(1.1 * var(--line-width));
  border-radius: 0%;
  transform-origin: top center;
  transform: skew(16deg, 0deg);
}
css-text.monospace::part(B)::after {
  top: 47%;
  left: 11%;
  height: 38%;
  width: 83%;
  border-radius: 0 45% 50% 5%;
  border-right-width: calc(1.1 * var(--line-width));
}
css-text.monospace::part(B)::before {
  top: 17%;
  left: 11%;
  height: 36%;
  width: 78%;
  border-radius: 5% 45% 50% 0;
  border-right-width: calc(1.1 * var(--line-width));
}
css-text.monospace::part(C)::after {
  top: 17%;
  height: 36%;
  width: 79%;
  border-radius: 70% 15% 0% 0% / 100% 15% 0 0;
  border-bottom-width: 0;
  border-right-width: 0;
  transform: rotateX(-360deg);
}
css-text.monospace::part(C)::before {
  top: 50%;
  height: 36%;
  width: 79%;
  border-radius: 0% 0% 15% 70% / 0% 0% 15% 100%;
  border-top-width: 0;
  border-right-width: 0;
}
css-text.monospace::part(D)::after {
  top: 50%;
  height: 36%;
  width: 84%;
  border-radius: 0% 0% 75% 1%;
  border-top-width: 0;
  transform: rotateY(360deg);
}
css-text.monospace::part(D)::before {
  top: 17%;
  height: 35%;
  width: 84%;
  border-radius: 1% 50% 0% 0% / 1% 80% 0% 0%;
  border-bottom-width: 0;
}
css-text.monospace::part(E)::after {
  top: 45%;
  left: 18%;
  height: 7%;
  width: 67%;
  border-top-width: 0;
  border-radius: 5%;
  transform: rotateZ(-180deg);
}
css-text.monospace::part(E)::before {
  top: 17%;
  left: 16%;
  height: 68%;
  width: 75%;
  border-right-width: 0;
  border-radius: 5%;
}
css-text.monospace::part(F)::after {
  top: 17%;
  left: 16%;
  height: 68%;
  width: 75%;
  border-bottom-width: 0;
  border-right-width: 0;
  border-radius: 5%;
}
css-text.monospace::part(F)::before {
  top: 45%;
  left: 18%;
  height: 7%;
  width: 67%;
  border-top-width: 0;
  border-radius: 5%;
  transform: rotateY(-360deg);
}
css-text.monospace::part(G)::after {
  top: 46%;
  left: 47%;
  height: 32%;
  width: 44%;
  border-width: calc(0.9 * var(--line-width));
  border-bottom-width: 0;
  border-left-width: 0;
  border-radius: 0 10% 15% 0 / 0 10% 0.1em 0;
}
css-text.monospace::part(G)::before {
  top: 17%;
  left: 6%;
  height: 68%;
  width: 95%;
  border-right-color: transparent;
  border-radius: 50% / 0.25em;
}
css-text.monospace::part(H)::after {
  top: 44%;
  left: 24%;
  height: 9%;
  width: 60%;
  border-width: 0;
  border-top-width: var(--line-width);
  border-bottom-width: 0;
  border-radius: 0;
  transform: rotateZ(180deg);
}
css-text.monospace::part(H)::before {
  top: 17%;
  left: 8%;
  height: 68%;
  width: 84%;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0%;
}
css-text.monospace::part(I)::after {
  top: 17%;
  left: 10%;
  height: 66%;
  width: 76%;
  border-top-width: calc(0.9 * var(--line-width));
  border-bottom-width: calc(0.9 * var(--line-width));
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 1%;
}
css-text.monospace::part(I)::before {
  top: 17%;
  left: 38%;
  height: 66%;
  width: 10%;
  border-right-width: 0;
  border-radius: 0%;
}
css-text.monospace::part(J)::after {
  top: 65%;
  left: 5%;
  height: 20%;
  width: 74%;
  border-width: calc(0.8 * var(--line-width));
  border-top-width: 0;
  border-left-color: transparent;
  border-radius: 0 0 0.35em 0.3em / 0 0 0.35em 0.35em;
  transform: rotateY(-360deg);
}
css-text.monospace::part(J)::before {
  top: 17%;
  left: 16%;
  height: 50%;
  width: 63%;
  border-width: calc(0.8 * var(--line-width));
  border-left-width: 0;
  border-bottom-width: 0;
  border-radius: 0;
}
css-text.monospace::part(K)::after {
  top: 30%;
  left: 33%;
  height: 0.41em;
  width: 0.44em;
  border-top-width: 0;
  border-right-width: 0;
  /* border-radius: 0.1em 0 0.15em 0em / 0.15em 0 0.1em 0em; */
  border-radius: 0;
  transform: rotateZ(45deg) skew(11deg, 12deg);
}
css-text.monospace::part(K)::before {
  top: 17%;
  height: 68%;
  width: 2%;
  border-width: 0;
  border-left-width: var(--line-width);
  border-radius: 0%;
}
css-text.monospace::part(L)::after {
  top: 17%;
  left: 18%;
  height: 66%;
  width: 5%;
  border-width: 0;
  border-left-width: var(--line-width);
  border-radius: 0%;
}
css-text.monospace::part(L)::before {
  top: 71%;
  left: 18%;
  height: 2%;
  width: 71%;
  border-width: 0;
  border-top-width: var(--line-width);
  border-radius: 0%;
}
css-text.monospace::part(M)::after {
  top: 15%;
  left: calc(50% - 0.16em);
  height: 0.32em;
  width: 0.32em;
  border-width: calc(1.1 * var(--line-width));
  border-top-width: 0;
  border-right-width: 0;
  transform: rotateZ(-45deg) skew(-17deg, -17deg);
}
css-text.monospace::part(M)::before {
  top: 14%;
  left: 8%;
  height: 68%;
  width: 84%;
  border-width: calc(1.1 * var(--line-width));
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0%;
  transform: perspective(1em) rotateX(13deg);
}
css-text.monospace::part(N)::after {
  top: 17%;
  left: 9%;
  height: 66%;
  width: 83%;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0%;
}
css-text.monospace::part(N)::before {
  top: 17%;
  left: 40%;
  height: 66%;
  width: 5%;
  border-width: 0;
  border-left-width: var(--line-width);
  border-radius: 0%;
  transform: skew(25deg, 0deg);
}
css-text.monospace::part(O)::after {
  top: 17%;
  left: 4%;
  height: 69%;
  width: 92%;
  border-right-color: transparent;
  border-radius: 50% / 40%;
}
css-text.monospace::part(O)::before {
  top: 17%;
  left: 4%;
  height: 69%;
  width: 92%;
  border-left-color: transparent;
  border-radius: 50% / 40%;
}
css-text.monospace::part(P)::after {
  top: 17%;
  left: 12%;
  height: 47%;
  width: 85%;
  border-radius: 0 50% 50% 0;
}
css-text.monospace::part(P)::before {
  top: 17%;
  left: 12%;
  height: 69%;
  width: 9%;
  border-width: 0;
  border-left-width: var(--line-width);
  border-radius: 0%;
}
css-text.monospace::part(Q)::after {
  top: 65%;
  left: 35%;
  height: 35%;
  width: 62%;
  border-top-color: transparent;
  border-right-color: transparent;
  border-radius: 0 0 5% 0.15em;
  transform: rotateZ(-23deg);
}
css-text.monospace::part(Q)::before {
  top: 17%;
  left: 4%;
  height: 69%;
  width: 92%;
  border-radius: 50% / 40%;
}
css-text.monospace::part(R)::after {
  top: 41%;
  left: 12%;
  height: 39%;
  width: 62%;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0%;
  transform-origin: 20% 50%;
  transform: perspective(0.3em) rotateX(25deg) skew(5deg, 0deg);
}
css-text.monospace::part(R)::before {
  top: 17%;
  left: 12%;
  height: 40%;
  width: 80%;
  border-radius: 0 50% 50% 0;
}
css-text.monospace::part(S)::after {
  top: 17%;
  height: 40%;
  width: 68%;
  border-right-width: 0;
  border-radius: 50% 10% 10% 50% / 50% 20% 10% 50%;
  transform: rotateZ(11deg);
}
css-text.monospace::part(S)::before {
  top: 45%;
  left: 12%;
  height: 42%;
  width: 79%;
  border-left-width: 0;
  border-top-width: calc(0.8 * var(--line-width));
  border-radius: 40% 50% 50% 20% / 20% 50% 50% 30%;
  transform: rotateZ(11deg) skew(-10deg, 0deg);
}
css-text.monospace::part(T)::after {
  top: 17%;
  left: 7%;
  height: 9%;
  width: 86%;
  border-width: 0;
  border-top-width: calc(0.9 * var(--line-width));
  border-radius: 0%;
}
css-text.monospace::part(T)::before {
  top: 18%;
  left: 39%;
  height: 67%;
  width: 9%;
  border-width: 0;
  border-left-width: var(--line-width);
  border-radius: 0%;
}
css-text.monospace::part(U)::after {
  top: 47%;
  left: 8%;
  height: 40%;
  width: 84%;
  border-top-color: transparent;
  border-radius: 0% 0% 50% 50% / 0% 0% 50% 50%;
}
css-text.monospace::part(U)::before {
  top: 17%;
  left: 8%;
  height: 43%;
  width: 84%;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0%;
}
css-text.monospace::part(V)::after {
  top: 18%;
  left: 18%;
  height: 66%;
  width: 5%;
  border-width: 0;
  border-left-width: calc(1.1 * var(--line-width));
  border-radius: 0%;
  transform: skew(17deg, 0deg);
}
css-text.monospace::part(V)::before {
  top: 18%;
  left: 57%;
  height: 66%;
  width: 5%;
  border-width: 0;
  border-left-width: calc(1.1 * var(--line-width));
  border-radius: 0%;
  transform: skew(-17deg, 0deg);
}
css-text.monospace::part(W)::after {
  top: 20%;
  left: 7%;
  height: 68%;
  width: 86%;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0%;
  transform: perspective(1em) rotateX(-15deg);
}
css-text.monospace::part(W)::before {
  top: 54%;
  left: calc(50% - 0.19em);
  height: 0.38em;
  width: 0.38em;
  border-width: calc(0.9 * var(--line-width));
  border-bottom-width: 0;
  border-left-width: 0;
  border-radius: 5%;
  transform: rotateZ(-45deg) skew(-25deg, -25deg);
}
css-text.monospace::part(X)::after {
  top: 18%;
  left: 36%;
  height: 66%;
  width: 5%;
  border-width: 0;
  border-left-width: calc(1.1 * var(--line-width));
  border-radius: 0%;
  transform: skew(-31deg, 0deg);
}
css-text.monospace::part(X)::before {
  top: 18%;
  left: 36%;
  height: 66%;
  width: 5%;
  border-width: 0;
  border-left-width: calc(1.1 * var(--line-width));
  border-radius: 0%;
  transform: skew(31deg, 0deg);
}
css-text.monospace::part(Y)::after {
  top: -10%;
  left: 0%;
  height: 0.55em;
  width: 0.55em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-radius: 5%;
  transform: rotateZ(-45deg) skew(-17deg, -17deg);
}
css-text.monospace::part(Y)::before {
  top: 45%;
  left: calc(50% - var(--line-width) / 2);
  height: 39%;
  width: 9%;
  border-width: 0;
  border-left-width: var(--line-width);
  border-radius: 0%;
}
css-text.monospace::part(Z)::after {
  top: 18%;
  left: 9%;
  height: 65%;
  width: 83%;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0%;
}
css-text.monospace::part(Z)::before {
  top: 30%;
  left: 35%;
  height: 41%;
  width: 5%;
  border-width: 0;
  border-left-width: calc(1.3 * var(--line-width));
  border-radius: 0%;
  transform: skew(-35deg, 0deg);
}

/* Punctuation */
css-text.monospace::part(newline) {
  display: block;
  height: 0;
  width: 0;
  --line-color: transparent;
}
css-text.monospace::part(space) {
  width: 0.7em;
  --line-color: transparent;
}
